{% extends 'base.html.twig' %}

{% block body %}
    <div class="container2">
    <h3>Welcome Back!</h3><br>
    {% include('flash-messages.html.twig') %}
    {{ form(login_form) }}
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}