{% extends 'base.html.twig' %}

{% block body %}

<div class="container2">

    <form class="form-signin" action="{{ path('login') }}" method="POST">
        <div class="row pad-top">
            <div class="col-sm-2">&nbsp;</div>
            <div class="col-sm-8">
                <h2 class="form-signin-heading">Please sign in</h2>
            </div>
            <div class="col-sm-2">&nbsp;</div>
        </div>

        <div class="row pad-top">
            <div class="col-sm-2">&nbsp;</div>
            <div class="col-sm-8">
                <label for="_username" class="sr-only">Username</label>
                <input type="text"
                       id="_username"
                       name="_username"
                       class="form-control pad-top"
                       placeholder="Username"
                       required
                       autofocus>
            </div>
            <div class="col-sm-2">&nbsp;</div>
        </div>

        <div class="row pad-top">
            <div class="col-sm-2">&nbsp;</div>
            <div class="col-sm-8">
                <label for="_password" class="sr-only">Password</label>
                <input type="password"
                       id="_password"
                       name="_password"
                       class="form-control"
                       placeholder="Password"
                       required>
            </div>
            <div class="col-sm-2">&nbsp;</div>
        </div>

        <div class="row pad-top">
            <div class="col-sm-2">&nbsp;</div>
            <div class="col-sm-2">
                <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
            </div>
            <div class="col-sm-8">&nbsp;</div>
        </div>
    </form>

</div>

{% endblock %}

{% block stylesheets %}
    <style>
        .container2 {
            margin-top: 80px;
            margin-left: 40px;
            margin-right: 80px;
        }
    </style>
{% endblock %}
