{% extends 'base.html.twig' %}

{% block body %}
    <div class="container2">
    {% include('flash-messages.html.twig') %}
    {{ form(registration_form) }}
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .container2 {
            margin-top: 80px;
            margin-left: 40px;
            margin-right: 80px;
        }
    </style>
{% endblock %}